.message {
  min-width: 8%;
  max-width: 40%;
  flex: unset;
  .caption {
    text-align: right;
  }
}

.self-message {
  align-self: flex-end;
}

.other-message {
  align-self: flex-start;
}

.chatSend {
  position: fixed;
  bottom: 3vh;
  width: 88%;
  left: 6%;
  z-index: 2;
}
